<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestNG_Demo_Test">
    <classes>
      <class name="test.testNG_Case1"/>
      <class name="test.testNG_xmlTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->